<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokamak Data Visualizer</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div>
        <label for="signalSelect">Select one or more signals:</label>
        <select id="signalSelect" multiple onchange="updatePlot()">
            <option value="current" selected>Plasma Current</option>
            <option value="kappa"selected>Kappa</option>
            <option value="density">Density</option>
        </select>
        <input type="checkbox" checked id="normalizeToggle" onchange="updatePlot()">
        <label for="normalizeToggle">Z-Score Normalize</label>
    </div>
    <div id="plot"></div>
    <script src="/static/js/app.js"></script>
</body>
</html>